@import '../custom-theme.scss';

.article {
    &__image {
        max-height: 70vh;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }


    &__data {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__meta {
        display: flex;
        margin: 20px 20px 0 20px;

        div:not(:last-child) {
            margin-right: 20px;
        }

        * {
            text-align: end;
        }

        .article__comments-count {
            color: mat-color($primary);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px;
    }

    &__read-more {
        display: inline-flex;
        justify-content: center;
        margin-top: 30px;
        button {
            border-radius: 30px;
        }
    }
}

.comments {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;

    img {
        width: 100%;
        border-radius: 50%;
    }

    .comment {
        display: grid;
        grid-template-columns: 80px auto;
        grid-template-rows: 30px auto;
        column-gap: 20px;
        border-bottom: 1px solid #e8e5e5;
        padding: 30px 0 20px 0;

        &__meta {
            display: inline-flex;
            width: 100%;
            justify-content: space-between;
            font-weight: 600;
        }

        &__text {
            grid-column-start: 2;
        }
    }
}

@media (min-width: 1000px) {
    .article {
        &__meta {
            flex-direction: column;
            width: 200px;
            padding: 20px;
            align-items: flex-end;
            margin: 0;

            div:not(:last-child) {
                margin-right: 0px;
            }
        }

        &__data {
            flex-direction: row;
        }

        &__content {
            position: relative;
            top: -50px;
            background: white;
        }
    }
}
