@mixin grid-template-small-screen {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 30px;
}

.content {
    padding: 10px 0;
}

.news {
    @include grid-template-small-screen;
}

// Show progress bar if loading
.search ::ng-deep {
    @include grid-template-small-screen;

    mat-form-field {
        padding: 0 20px;
    }

    .mat-progress-bar {
        top: 5px;
        height: 2px;
        visibility: hidden;
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
        height: 2px;
    }

    &.loading {
        .mat-form-field-underline {
            visibility: hidden;
        }

        .mat-progress-bar {
            visibility: visible;
        }
    }
}

.article {
    width: 100%;
    overflow: hidden;

    &__image {
        width: 100%;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: auto;
            transition: transform 0.2s;

            &:hover {
                transform: scale(1.25);
            }
        }
    }

    &__meta {
        text-transform: uppercase;

        a {
            margin-right: 20px;
        }
    }

    &__data {
        background: white;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.not-found-message {
    font-size: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

// Media queries
@media (min-width: 768px) {
    .article__data {
        position: relative;
        width: 90%;
        top: -30px;
    }
}

@media (min-width: 1000px) {
    .search,
    .news {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .content {
        padding: 10px 20px;
    }

    .search mat-form-field {
        padding: 0;
    }
}
