<main class="content">
    <!-- Search input -->
    <div class="search" [class.loading]="loading">
        <mat-form-field>
            <input
                matInput
                placeholder="Search"
                #searchInput
                [value]="newsService.currentSearchValue"
            />
            <mat-progress-bar
                mode="indeterminate"
            ></mat-progress-bar>
        </mat-form-field>
    </div>
    <!-- News grid -->
    <section
        class="news"
        *ngIf="!loading && (articles$ | async).length; else notFound"
    >
        <!-- Article -->
        <article *ngFor="let article of articles$ | async" class="article">
            <a class="article__image" routerLink="/article" [state]="article">
                <img
                    [src]="
                        article.urlToImage
                            ? article.urlToImage
                            : '../../assets/images/placeholder.jpg'
                    "
                    onerror="this.src = '../../assets/images/placeholder.jpg'"
                    [alt]="article.title"
                />
            </a>

            <div class="article__data">
                <div class="article__meta">
                    <span>{{ article.source?.name }}</span>
                    <span>{{ article.publishedAt | date }}</span>
                </div>

                <a routerLink="/article" [state]="article" class="article__title">{{
                    article.title
                }}</a>

                <div>{{ article.description }}</div>
            </div>
        </article>
    </section>

    <!-- Articles not found message -->
    <ng-template #notFound>
        <div class="not-found-message" *ngIf="!loading">
            {{ notFoundText }}
        </div>
    </ng-template>
</main>
