@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import './app/custom-theme.scss';

body {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    background-color: #fafafa;
    margin: 0;

    * {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.7);
    }

    .content {
        background-color: white;
        min-height: calc(100vh - 64px);
        overflow: hidden;
        max-width: 1200px;
        margin: 0 auto;

        .article__title {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.7);
            line-height: 1.3;
        }
    }
}
